// <IMPORT>=================================
@use "sass:math"; //модуль Math
// Подключение главного файла миксина в глобальную область видимости
//<MIXINS>=================================
@import "base/mixins";
//</MIXINS>=================================

// <ШРИФТ>=================================
//&display=swap - добавить при подключении через плагин
// @import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap);
@import "fonts/fonts"; // Подключить если есть локальные файлы шрифтов
@import "fonts/icons"; // Подключить если есть файл иконочного шрифта
// </ШРИФТ></IMPORT>=================================

// <VARIABLES>=================================
$fontFamily: "Quicksand";
$fontSize: rem(25); // где 14(px) - размер шрифта по умолчанию из макета
// Основные цвета
$mainTextColor: #6a6e77; // Цвет шрифта по умолчанию
$accentTextColor: #85d8ce;
$darkColor: #1c1f25;
$mainBgColor: #c4c4c4;

// Настройки адаптивной сетки
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина полотна (макета)
$maxWidthContainer: 0; // Ширина ограничивающего контейнера (0 = нет ограничения)
// Общий отступ у контейнера
$containerPadding: 480; // (30 = по 15px слева и справа, 0 = нет отступа)
$containerPaddingMin: 15; // минимальный отступ
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
// </VARIABLES>=================================

// <ОБНУЛЕНИЕ>=================================
@import "base/null";
// </ОБНУЛЕНИЕ>=================================

// <BODY>=================================
body {
	background: $mainBgColor;
	@include adaptiveValue("font-size", 25, 18);
	font-weight: 400;
	line-height: math.div(28, 20);
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
// </BODY>=================================

// <WRAPPER>=================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// </WRAPPER>=================================

// <CONTAINER>=================================
/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		flex-grow: 1;
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), $containerPaddingMin);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), $containerPaddingMin);
			}
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}
// </CONTAINER>=================================

// <IMPORT>=================================
// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";
@import "common"; // Подключение стилей общих элементов проекта
// Подключение стилей отдельных блоков
@import "header";
@import "footer";
// Подключение стилей отдельных страниц
// @import "home";
// </IMPORT>=================================

// <ОБЩИЙ СТИЛЬ>=================================
.page {
	counter-reset: item;
	// .page__section
	&__section {
		&::after {
			position: absolute;
			top: 50%;
			transform: translate(50%, -50%);
			color: #e3e6ec;
			font-weight: 700;
			content: counter(item, decimal-leading-zero);
			counter-increment: item;
			@include adaptiveValue("right", 120, 7.5);
			@include adaptiveValue("font-size", 60, 20);
		}
		// .page__section_center
		&_center {
			display: flex;
			// align-items: center;
		}
	}
}
// </ОБЩИЙ СТИЛЬ>=================================

//<MAIN>=================================
.main {
	// .main__container
	&__container {
		padding-top: rem(20);
		padding-bottom: rem(20);
	}
	// .main__body
	&__body {
		position: relative;
		padding-top: rem(155);
		padding-bottom: rem(155);
		@include adaptiveValue("padding-left", 240, 15);
		@include adaptiveValue("padding-right", 240, 15);
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(28, 31, 37, 0.6);
		}
	}
	// .main__section-header
	&__section-header {
		position: relative;
		z-index: 1;
	}
	// .main__image
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
//</MAIN>=================================
