@use "sass:math";
//<IMPORT>=глобальных переменных, миксинов и функций
@use "base/mixins" as *;
//</IMPORT>=================================
// Подключение миксинов =================================
@use "base/mixins" as *;

// Для подключения/отключения конкретных стилей смотри base.scss
@use "base";

// Подключение шрифтов =================================
//&display=swap - добавить при подключении через плагин
// @import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap);

// Подключить если есть локальные файлы шрифтов
@use "fonts/fonts";

// Подключение иконочных шрифтов =================================
// Подключить если есть файл иконочного шрифта
@use "fonts/icons";
// =================================

// Настройки шаблона =================================

// Шрифт по умолчанию =================================
$fontFamily: "Quicksand";
$fontSize: rem(20); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainTextColor: #fff; // Цвет шрифта по умолчанию
$accentTextColor: #85d8ce; // Цвет шрифта по умолчанию
$mainBgColor: #050615; // Цвет шрифта по умолчанию

// Настройки адаптивной сетки =================================
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина полотна (макета)
$maxWidthContainer: 1430; // Ширина ограничивающего контейнера (0 = нет ограничения)
// Общий отступ у контейнера
$containerPadding: 30; // (30 = по 15px слева и справа, 0 = нет отступа)

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Подключение стилей общих элементов проекта
@use "common";
// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
@use "header";
@use "footer";
// Подключение стилей отдельных страниц
// @import "home";
// =================================
// =================================

// Стили тега BODY =================================
body {
	background: $mainBgColor;
	font-weight: 400;
	line-height: math.div(28, 20);
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загружен
	.loaded & {
	}
}

// Оболочка wrapper =================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер =================================

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}
// Подключение стилей отдельных блоков
.page {
	// .page__container
	&__container {
	}
	// .page__text
	&__text {
		font-size: $fontSize;
	}
}
