//<МИКСИНЫ>=================================
@import "mixins";
//</МИКСИНЫ>=================================

//<ШРИФТЫ>=================================
//<Подключаем шрифты>=================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=================================

//<Иконочные шрифты>=================================
@import "icons";
//</Иконочные шрифты>=================================

//<Шрифт по умолчанию>=================================
$fontFamily: "Quicksand";
$fontSize: 1.786rem;
//</Шрифт по умолчанию>=================================
//</ШРИФТЫ>=================================

//<Swiper>=================================
//</Swiper>=================================

//<ПЕРЕМЕННЫЕ>=================================

// минимальная ширина страницы (мобилка)
$minWidth: 320;
// ширина полотна по макету
$maxWidth: 1920;
// ширина ограничивающего контейнера 1200 + 40 padding.(0 = нет ограничения)
$maxWidthContainer: 1920;
// отступ контейнера (30= по 15px слева и справа, 0 = нет отступа)
$containerPadding: 240;

// первый брейкпоинт
$md1: 1365.98;
// второй брейкпоинт большие планшеты
$md2: 991.98;
// третий брейкпоинт планшеты
$md3: 767.98;
// четвертый брейкпоинт большие телефоны/планшеты
$md4: 639.98;
// пятый брейкпоинт мобильные телефоны
$md5: 479.98;

// основные цвета
$mainColor: #6a6e77;
$lightGrayColor: #e3e6ec;
$darkColor: #1c1f25;

//</ПЕРЕМЕННЫЕ>=================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================
@import "null";
body {
	color: $mainColor;
	line-height: 187.5%;
	font-weight: 400;

	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================

//<ОБОЛОЧКА>=================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}
//</ОБОЛОЧКА>=================================

//<ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР>=================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0px auto;
	@include adaptiv-value("padding-left", $containerPadding, 15, 1);
	@include adaptiv-value("padding-right", $containerPadding, 15, 1);
}
//</ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================
// @import "datepicker";
// @import "../scss/libs/gallery/lightgallery";
// @import "popup";
@import "header";
@import "footer";
// @import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================

//<ОСНОВНОЙ БЛОК>=================================
.page {
}
//<ОБЩИЕ СТИЛИ>=================================

//</ОБЩИЕ СТИЛИ>=================================

//<MAIN>=================================

//</MAIN>=================================

//<FEATURES>=================================

//</FEATURES>=================================
//<SERVICES>=================================

//</SERVICES>=================================

//<>=================================

//</>=================================

//<>=================================

//</>=================================

//<>=================================

//</>=================================

//<>=================================

//</>=================================

//<>=================================
//</>=================================

//</ОСНОВНОЙ БЛОК>=================================
